services:
  db:
    image: postgres:18
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nya
    volumes:
      - db:/var/lib/postgresql

volumes:
  db:
